/* ==================================== Root and All ==================================== */

:root {
    --mustard: #E1B80D;
    --dark-brown: #3c2a2a;
    --medium-brown: #8b6868;
    --medium-pink: #a66e6e;
    --light-pink: #d1b3b3;
    --honey-cream: #f1e4b3;
    --cream: #f9f5e3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* ==================================== Header ==================================== */

header {
    display: flex;
    padding: 15px;
    background-color: var(--mustard);
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header h1 {    
    font-family: "Libre Baskerville";
    font-size: 2rem;
    font-weight: 600;
    color: var(--dark-brown);
    letter-spacing: .2rem;
}

nav {
    display: flex;
    gap: 20px;
}

header button {
    padding: 0 15px;
    font-size: 1.1rem;
    border: none;
    background-color: var(--cream);
    border-radius: 10px;
}

header button:hover {
    background-color: var(--honey-cream);
    transition: 0.1s;
}

header button:active {
    background-color: var(--medium-pink);
    transform: scale(0.98);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* ==================================== Main ==================================== */

main {
    flex: 1;
    background-color: var(--honey-cream);
    color: var(--dark-brown);
    height: 100%;
}

/* ==================================== Top ==================================== */

.top {
    background-color: var(--cream);
    color: var(--dark-brown);
    padding: 80px;
    text-align: center;
}

.top > h2 {
    font-family: "Libre Baskerville";
    font-size: 3rem;
}

.top > h3 {
    font-size: 2rem;
    font-family: "Dancing Script", cursive;
    padding: 10px;
}

.top > p {
    max-width: 40ch;
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin: 0 auto;
    margin-top: 10px;
}


/* ==================================== Middle ==================================== */

.middle {
    display: flex;
    gap: 20px;
}

.location-and-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.location-and-info > h3 {
    font-size: 2rem;
    text-align: center;
    font-family: "Libre Baskerville";
}

.location-and-info > h4 {
    font-size: 1.3rem;
}

.location-and-info p {
    line-height: 1.5rem;
    font-size: 1.1rem;
    letter-spacing: 12.5;
}

.information > div {
    padding: 10px;
}

.hours-row {
  display: flex;
  gap: 10px;
  line-height: 1.6rem;
}

.hours-row .day {
  width: 45px;
  font-weight: 500;
}

iframe {
    width: 50vw; 
    height: 50vh;
}

/* ==================================== Images ==================================== */

main img {
    width: 500px;
    height: auto;
}

/* ==================================== Footer ==================================== */

footer {
    padding: 10px;
    background-color: var(--medium-pink);
    color: var(--dark-brown);
}

/* ==================================== Media Query ==================================== */


@media (max-width:800px) {
    main img {
        display: none;
    }
    iframe {
        width: 90vw; 
        height: 30vh;
    }
}